/*Standard Elements*/
body {
    /*background: #eee;
    background-image: url(../../img/furley_bg.png);
    background-position: initial initial;
    background-repeat: initial initial;
    background-position: initial initial;
    background-repeat: initial initial;*/
    margin: 0px;
    padding: 0px;
    font-family: 'Microsoft YaHei', SimHei, Arial, sans-serif;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

h1 {
    margin-top: 0px;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

hr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    margin: .5em 0;
}

form {
    margin: 0;
}

/*Add By Huang Start*/
.pagination {
    margin: 5px 0px;
}

.pagination-nav .info {
    float: right;
    line-height: 40px;
    margin: 5px 0px;
}

.pagination-nav .pagination{
    display:inline-block;
}
.pagination-nav .pagination-goto-area{
    display:inline-block;
}

.dropdown-menu-xs {
    min-width: 50px;
}
/*Add By Huang End*/
/* error */
label.error,span.error {
    color: #e80c4d;
     font-weight: bold;
}

input.error,
input.error:focus {
    border-color: #e80c4d;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #e80c4d;
    font-weight: bold;
}

.has-error .form-control {
    color: #e80c4d;
    border-color: #e80c4d;
}
/*bootstrap multiselect*/
.multiselect-container.dropdown-menu {
    margin-bottom: 20px;
    position: relative;
}
/* Tweaks for mobile */
@media (max-width: 641px) {
    .content {
        margin: 0em;
    }

    .sidebar-nav {
        float: none;
        width: auto;
        position: relative;
    }

    h1 {
        text-align: center;
    }

    .stats {
        text-align: center;
        margin-top: 1em;
    }

        .stats .stat {
            float: none;
            display: inline;
        }

    .stat-widget-container .stat-widget {
        font-size: .5em;
    }
}

@media (max-width: 900px) {
    body.http-error {
        font-size: .75em;
    }

        body.http-error .error-message {
            padding: 0em 1em;
        }
}

@media (max-width: 851px) {
    .stat-widget-container .stat-widget {
        font-size: .75em;
    }
}

@media (max-width: 767px) {
    .footer hr {
        margin-left: 0em;
        margin-right: 0em;
    }
}

@media (max-width: 604px) {
    body.http-error {
        font-size: .5em;
    }
}

  /*body.sidebar-mini.sidebar-collapse.fixed .main-sidebar {
    position:absolute;
  }*/

  /*
 * Component: Table
 * ----------------
 */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  border-bottom: 2px solid #ddd;
}
.table tr td .progress {
  margin-top: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 1px solid #ddd; 
}

.skin-green-light .sidebar-menu > li:hover > a,
.skin-green-light .sidebar-menu > li.active > a {
  /*border-left-color: #da4f4a;*/
}


.sidebar-sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #000;
    border-radius: 0 4px 4px 0;
}

    .sidebar-sub-menu > li {
        position: relative;
        margin: 0;
        padding: 0;
    }

        .sidebar-sub-menu > li > a > .fa,
        .sidebar-sub-menu > li > a > .glyphicon,
        .sidebar-sub-menu > li > a > .ion {
            width: 20px;
            display: none;
        }

        .sidebar-sub-menu > li .label,
        .sidebar-sub-menu > li .badge {
            margin-right: 5px;
        }

        .sidebar-sub-menu > li .badge {
            margin-top: 3px;
        }

    .sidebar-sub-menu li.header {
        padding: 10px 25px 10px 15px;
        font-size: 12px;
    }

    /*.sidebar-sub-menu li > a {
        position: relative;
    }*/

        .sidebar-sub-menu li > a > .fa-angle-left,
        .sidebar-sub-menu li > a > .pull-right-container > .fa-angle-left {
            width: auto;
            height: auto;
            padding: 0;
            margin-right: 10px;
        }

        .sidebar-sub-menu li > a > .fa-angle-left {
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -8px;
        }

    .sidebar-sub-menu li.active > a > .fa-angle-left,
    .sidebar-sub-menu li.active > a > .pull-right-container > .fa-angle-left {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .sidebar-sub-menu .treeview-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 5px;
    }

        .sidebar-sub-menu .treeview-menu .treeview-menu {
            padding-left: 20px;
        }

        .sidebar-sub-menu .treeview-menu > li {
            margin: 0;
        }

            .sidebar-sub-menu .treeview-menu > li > a {
                padding: 5px 5px 5px 15px;
                display: block;
                font-size: 14px;
            }

                .sidebar-sub-menu .treeview-menu > li > a > .fa,
                .sidebar-sub-menu .treeview-menu > li > a > .glyphicon,
                .sidebar-sub-menu .treeview-menu > li > a > .ion {
                    width: 20px;
                }

                .sidebar-sub-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-left,
                .sidebar-sub-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-down,
                .sidebar-sub-menu .treeview-menu > li > a > .fa-angle-left,
                .sidebar-sub-menu .treeview-menu > li > a > .fa-angle-down {
                    width: auto;
                }

                /*.sidebar-sub-menu  .pull-right-container{
                    display:block;
                    position:absolute;
                    border-top-right-radius:4px;
                    top:2px;
                    left:130px;
                }*/
    .sidebar-sub-menu > li > a > .menu-name,
    .sidebar-sub-menu .treeview-menu {
        display: block !important;
        /*position: relative;*/
        width: 180px;
        left: 0px;
    }

    .sidebar-sub-menu > li > a > span {
        top: 0;
        /*margin-left: -3px;*/
        border-top-right-radius:4px;
        padding: 12px 5px 12px 20px;
        background-color: inherit;
    }

    .sidebar-sub-menu > li > a > .pull-right-container {
        display: block;
        position: absolute;
        width: auto;
        /*left: 130px;*/
        right:5px;
        top: 2px;
        z-index: 900;
    }

        .sidebar-sub-menu > li > a > .pull-right-container > .label:not(:first-of-type) {
            display: none;
        }

    .sidebar-sub-menu > li > .treeview-menu {
        top: 44px;
        margin-left: 0;
    }

  .sidebar-mini.sidebar-collapse.fixed .sidebar-menu > li:hover > a > span:not(.pull-right),
  .sidebar-mini.sidebar-collapse.fixed .sidebar-menu > li:hover > .treeview-menu {
    display: none !important;
  }

.life-light .sidebar-sub-menu {
    background: #f4f4f5;
}
.life-light .sidebar-sub-menu > li > a, .life-light .sidebar-sub-menu > li.active > a {
    color: #000;
    background: #f4f4f5;
}

.life-light .sidebar-sub-menu > li > a {
    /*border-left: 3px solid transparent;*/
    font-weight: 600;
}

.life-dark .sidebar-sub-menu > li > a, .life-dark .sidebar-sub-menu > li.active > a {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}

.life-dark .sidebar-sub-menu {
    background: #2c3b41;
}
