<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <b>Version</b> 3.1.next
    </div>
    <!-- Default to the left -->
    <span>Copyright &copy; 2014-2017 <a href="http://www.luluyou.com/">上海路路由信息技术有限公司</a>.</span> All rights
    reserved.
</footer>